

<div class="text-center my-4">
    <div>
        
    </div>
    <div class="my-4">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Date</h2>
    </div>
    <div class="my-4">
        <p class="my-4">
            @Html.ActionLink("Ir pagina de Vuelos", "Index", "Vuelos")
        </p>
    </div>
</div>
